@media (max-width:668px){

    nav ul li{

        font-size: 13px;
    }
}

@media (max-width:639px) {
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px!important;
    }
    nav ul{
position: absolute;
        left: 50%;
        transform: translate(-50%);
        top:70px;
text-align: center;
    }
    .open{
        height: 50vh !important;

    }
    .close{
        overflow: hidden;
    }

    nav ul li{

        width: 100vw;
        padding: 10px;
        border-top:1px solid gray;

    }
nav #roboLandtxt{
    position:absolute !important;
    top:2rem;
    width:120px;
    right:35px;
}
    nav #roboLandlog{
        position:absolute !important;
        top:15px;
        right:5px;
    }
    :focus-visible {
        outline: none !important;
    }
    button:focus {
        outline:none !important;
        outline:none !important;
    }
}

